.active{
    background-color: aquamarine;
    border-color: 1px solid blue;
}

.no-active{
    background-color: red;
   
}

.active-border{
    background-color: aquamarine;
    border: 5px solid yellow;
}

.no-active-border{
    background-color: red;
    border:5px solid blue;
}

.apple{
    background-color: red;
    border-color: 1px solid green;
}

.orange{
    background-color: orange;
    border-color:1px solid green;
}

.Login{
    color:green;
    text-transform: uppercase;
}

.Logout{
    color:red;
    text-transform: lowercase;
}