
<app-navbar></app-navbar>
<app-header></app-header>
<!-----passing data from parent component to child component-->
<!-- <p>{{postTitle}}(App)</p>
<app-posts-list [postListTitle]="postTitle" [postIsLogin]="appIsLogin"></app-posts-list> -->
<!-- <app-posts-list (MessageEvent)="receiveMessage($event)"></app-posts-list>
<!---when parent to wants direct access to child data or passing data from child component to parent component -->
<!-- <p>{{message}}</p> --> 
 <app-posts-list></app-posts-list>

 <!---multi slot content projection-->
 <!-- <app-card>
        <!-- <p>this is loaded using ng-content</p> -->
        <!-- <h2>FARHEEN</h2>
        <p>01/11/2021</p>
        <p>hiiiiiiiiiiiiiiiiiiiiiiiiiii</p> -->
        <!-- <span header>username</span>
        <h1 body>FARHEEN</h1>
        <button footer>view profile</button>
</app-card> -->


<!----render components programmatically --->

<!-- <div *ngComponentOutlet="loadComponent()"></div> -->
<!-- 
<button (click)="loadComponent()">create component</button>

<button (click)="removeComponent()">remove component</button> -->


<!-- <h1>First Angular App</h1> -->
<!-- <h2>{{title}}</h2>
<p>{{2+5}}</p>
<img [src]="imgURL"> -->
<!-- <button disabled="{{isDisabled}}">disable button</button>--> <!---string interpolation-->

<!-- <button [disabled]="isDisabled">disable button</button>-property binding --> 

<!----class binding-->
<!-- 
<button 
[class.active]="isActive" 
[class.active-border]="isActive"
[class.no-active]="!isActive"  
[class.no-active-border]="!isActive"
>CLICK ME</button>


<button [class.apple]="fruitName == 'Apple'">Fruit Ninja</button>

<button [class.orange]="fruits == 'Orange' ">Fruits</button> -->

<!---- style binding -->

<!-- <button [style.background]="isActive? 'red' : 'green' "
        [style.border]="isActive? '3px solid yellow' : '' "
>Click</button> -->

<!-- <button [class.active]="isActive">CLASS BINDING</button> -->

<!--event binding-->
<!--  
<button (click)="buttonClick()">Click Me</button>

<button (mouseover)="mouseOver()">CLICK</button>

<input type="text" (keyup)="keyEnter($event)">


<input type="text" (keyup.enter)="keyupFiltering()">

<input type="text" (keyup.a)="keyupFilteringforA()" >


<input type="text" (keyup.enter)="keyupFilteringforUserInput(user)" #user id="userInput"> -->

<!---ONE WAY BINDING-->

<!-- <input type="text" [value]="textValue" (keyup.enter)="onKeyup()" > -->

<!----TWO WAY BINDING-->

<!-- <input type="text" [(ngModel)]="textValue" (keyup.enter)="onKeyup()"> -->


<!----old way  of using if-->
<!-- <h2  *ngIf="isLoggedIn">{{userName}}</h2> -->

<!----old way  of using else --->
<!-- <h4 *ngIf="!isLoggedIn">User not logged in</h4> -->



<!----ng template>-->

<!-- <h2  *ngIf="isLoggedIn;else notLoggedIn">{{userName}}</h2>
<ng-template #notLoggedIn>
        <h4>User not logged in(loaded using ng template)</h4>
</ng-template> -->

<!----new way  of using if-->
<!-- @if (isLoggedIn) {
        <h3>{{userName}}</h3>
} -->


<!-- --new way  of using else-->
<!-- @else {
        <h4>User not logged in(loaded using else block)</h4>
}  -->

<!-- @if (!isLoggedIn) {
        <h3>User not logged in(loaded using if syntax block)</h3>
} -->

<!---mutiple conditions-->

<!-- <h4 *ngIf="isAdmin">WELCOME ADMIN</h4>

<h4 *ngIf="isMember">WELCOME MEMBER</h4>

<h4 *ngIf="isGuest">WELCOME GUEST</h4> -->

<!----ngIf and else approach-->
<!-- <h4 *ngIf="isAdmin; else memberMessage">WELCOME ADMIN</h4>
<ng-template #memberMessage>
        <h4 *ngIf="isMember;else guestMessage">WELCOME MEMBER(loaded from else)</h4>
</ng-template>


<ng-template #guestMessage>
         <h4 *ngIf="isGuest">WELCOME GUEST</h4>
</ng-template> -->



<!-----@if,@else, syntax approach-->

<!-- @if(isAdmin){
        <h4>WELCOME ADMIN</h4>
}
@else if (isMember) {
        <h4>WELCOME MEMBER</h4>
}
@else if (isGuest){
        <h4>WELCOME GUEST</h4>
} -->



<!---ng-template-->

<!-- <h4 *ngIf="userRole=='ADMIN';else dynamicTemplate">WELCOME ADMIN</h4>
<ng-template #dynamicTemplate>
        <p>this content is inside ng-template</p>
</ng-template>


<ng-template #calltoAction>
        <p>CALL TO ACTION</p>
        <button>JOIN NOW</button>
</ng-template>

<div [ngTemplateOutlet]="calltoAction"> 
        <h5>SIDEBAR</h5>
        
</div>
<div [ngTemplateOutlet]="calltoAction">
         <h5>HERO</h5>
        
</div>
<div [ngTemplateOutlet]="calltoAction"> 
        <h5>FOOTER</h5>
        
</div> -->


<!----Ng For directive-->
<!-- <h3>{{users[0]}}</h3>
<h3>{{users[1]}}</h3>
<h3>{{users[2]}}</h3>  --> <!---iterating using using array index -->

<!---<h3 *ngFor="let user of users">{{user}}</h3> --> <!---iterating using for loop-->

<!-- <p>For syntax Approach</p>
@for (user of users;track user) {
        <h3>{{user}}-loaded using for syntax block</h3>
} -->


<!---ng for -->
<!-- <ul>
        <li *ngFor="let user of users">{{user}}</li>
</ul>


<ul>
@for(user of users;track user){
        <li>{{user}}</li>
}
</ul> -->


<!---fetching array object using ng for -->
  <!-- <ul> 
        <li *ngFor="let user of usersObj">{{user.name}}</li>
</ul>  -->


<!------fetching array object using for loop-->
<!-- @for(user of usersObj;track user){
        <ul>
        <li>{{user.name}}</li>
        </ul>
} -->

<!-----empty syntax block using @-----empty>-->

<!-- <ul>
        @if(usersObj.length == 0){
                <p>no users to display --loaded using syntax</p>
        }

        @for(user of usersObj;track user;let i =$index;let userCount = $count;){
                <li>{{userCount}}-{{i}} {{user.name}} <button (click)="onDelete(i)">Delete</button></li>
        }

        @empty {
               <p>no users to display --loaded using empty</p> 
        }   
</ul> -->

<!---NG SWITCH-->
<!-- <div [ngSwitch]="usersRole">
        <p *ngSwitchCase="'Admin'">WELCOME ADMIN</p>
        <p *ngSwitchCase="'Member'">WELCOME MEMBER</p>
        <p *ngSwitchCase="'Editor'">WELCOME EDITOR</p>

        <p *ngSwitchDefault>PLEASE LOGIN</p>

</div> -->


<!----@switch-->


<!-- @switch (usersRole) {
       @case ('Admin') {
                <p>WELCOME ADMIN</p>
       } 
       @case ('Member'){
                <p>WELCOME MEMBER</p>

       @case ('Editor') {
                <p>WELCOME EDITOR</p>
       }
       @default {
                <p>PLEASE LOGIN</p>
       }
} -->


<!---ng style-->

<!-- <h1  [style.color]="isLoggedIn? 'green':'red'" [style.textTransform]="isLoggedIn? 'uppercase':'lowercase'">Welcome Admin</h1>--><!---  for single this can be used for mutiple this wont be suitable -->

<!-- <h1 [ngStyle]="{
        'color':isLoggedIn ? 'green':'red',
        'textTransform': isLoggedIn ? 'uppercase':'lowercase'
        
        }"></h1>
 -->


 <!--------ng class-->
 <!-- <h1 [class.Login]="isLoggedIn" [class.Logout]="!isLoggedIn">Class Binding</h1>

 <h1 [ngClass]="{
        'Login':isLoggedIn,
        'Logout':!isLoggedIn
        }" >Ng Class Directive</h1> -->




        
